<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
	
	<main id="app">
		<header>
			<div>
				<img src="public/images/logo.svg" alt="Company Logo">
			</div>
	
			<div>
				<router-link class="route" to="/home">HOME</router-link>
				<router-link class="route" to="/chat">CHAT NOW!</router-link>
				<router-link class="route" to="/login">LOGIN</router-link>
			</div>
		</header>

		<router-view>
                <!-- this is like the {{body}} in handle bars -->
        </router-view>
	</main>
	
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	<script type="module" src="js/main.js"></script>
</body>
</html>